.titulo1 {
    color: #0000FF;
    transform: translateY(10px);
}

.pontuação {
    color:rgb(26, 23, 23);
    transform: translateY(-10px);
}

.gametitle {
    display: flex;
}

.card-pontuação {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #0000FF;
    padding: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: #fff;
}

.perguntas-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 60vh;
    transform: translateY(-30px);
}
.perguntas {
    font-weight: 500;
    font-size: 1.3rem;
    margin-left: 10px;
}

.botoes-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 35vh;

}

.botoes-resposta {
    padding: 10px 60px;
    border: none;
    background-color: #0000FF;
    border-radius: 10px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    letter-spacing: 2px;
    gap: 10px;
}

.pacgameimg {
    max-width: 400px;
}